html, body{
	margin: 0px;
	padding: 0px;
	font-family: 'Spicy Rice', cursive;
	font-size: 50px;
	height: 100%;
	width: 100%;

}

.square {
	height: 25%;
	background-size: cover;
	background-position: center;
}

.word {
	position: absolute;
	width: 100%;
	margin-top: 5%;
	text-align: center;
	opacity: 1;
}

.hover {
	position: absolute;
	background-size: cover;
	background-position: center;
	background-color: black;
	height: 25%;
	width: 100%;
	opacity: 0.8;
}



.ps4_theme {
	background-image: url("ps4.jpg");
}

.switch_theme {
	background-image: url("nintendo.png");
}

.xbox_theme {
	background-color: gray;
}

.steam_theme {
	background-image: url("steam.jpg");
}


.dark {
	color: white;
}