body {
	margin: 0px;
	font-family: 'Spicy Rice', cursive;
	font-size: 50px;
}

.square {
	padding-top: 12%;
	padding-bottom: 12%; 
	transition: background 0.5s;
	--webkit--transition: background 0.5s;
	--moz--transition: background 0.5s;
	text-align: center;
}

.orange_theme {
	background-color: orange;
}

.red_theme {
	background-color: red;
}

.blue_theme {
	background-color: blue;
}

.black_theme {
	background-color: black;
}


.dark {
	color: white;
}